.signin-cat{
    border-radius: 20px;
	border: 1px solid #55150a;
	background-color: #551c12;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;

}
.signin-cat:hover{
    border-radius: 20px;
	border: 1px solid #55150a;
	background-color: #ac301b;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    transition: .3s;

}
.ghost {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.overlay-cat {
	/* background: #a5082d;
	background: -webkit-linear-gradient(to right, #cb2609, #b3072f);
	background: linear-gradient(to right, #6e1605d2, #5e1728); */
	background-image: url('/Category.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 480px;
	
}